.trend {
}

.trendHeader {
  padding: 0 40px;
  display: flex;
  align-items: center;
}

.selector {
  margin-left: 20px;
  display: flex;
  align-items: center;
}

.select {
  border: 1px solid black;
  padding: 5px;
  cursor: pointer;
}

.selected {
  background-color: lightblue;
}

.trendBody {
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: scroll;
  overflow-y: hidden;
}

.trendingElement:nth-child(1) {
  margin-left: 40px;
}

.trendingElement {
  margin-left: 20px;
}

.trendingElement img {
  width: 150px;
  height: 225px;
}

.trendingContent {
  padding: 0px;
  font-size: 0.85em;
}

.trendingContent p h3 {
  margin: 0px;
}

.trendingContent p {
  margin: 0px;
}
